/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { IrisSDKCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { IrisSDKError } from "../models/errors/irissdkerror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

export enum StreamAcceptEnum {
  imageGif = "image/gif",
  videoMp4 = "video/mp4",
  videoWebm = "video/webm",
}

/**
 * Stream the generated video file
 *
 * @remarks
 * Streams the generated video file for a recording. This endpoint can be used directly in video players, such as in an HTML5 video tag. By default, videos play at 0.2 frames per second (5 seconds per frame) to allow time to read the captions. If the video has not been generated yet, it will attempt to generate it on-demand. If generation is already in progress, it returns a status update instead of the video. The endpoint supports both streaming (default) and download modes. The video duration will be correctly calculated based on the frame rate and number of screenshots.
 */
export function videosStream(
  client: IrisSDKCore,
  request: operations.StreamVideoRequest,
  options?: RequestOptions & { acceptHeaderOverride?: StreamAcceptEnum },
): APIPromise<
  Result<
    operations.StreamVideoResponse,
    | IrisSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: IrisSDKCore,
  request: operations.StreamVideoRequest,
  options?: RequestOptions & { acceptHeaderOverride?: StreamAcceptEnum },
): Promise<
  [
    Result<
      operations.StreamVideoResponse,
      | IrisSDKError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.StreamVideoRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    id: encodeSimple("id", payload.id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/api/videos/{id}/video")(pathParams);

  const query = encodeFormQuery({
    "download": payload.download,
  });

  const headers = new Headers(compactMap({
    Accept: options?.acceptHeaderOverride
      || "image/gif;q=1, video/mp4;q=0.7, video/webm;q=0",
  }));

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "streamVideo",
    oAuth2Scopes: null,

    resolvedSecurity: null,

    securitySource: null,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.StreamVideoResponse,
    | IrisSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.stream(200, operations.StreamVideoResponse$inboundSchema, {
      ctype: "video/mp4",
    }),
    M.stream(200, operations.StreamVideoResponse$inboundSchema, {
      ctype: "video/webm",
    }),
    M.stream(200, operations.StreamVideoResponse$inboundSchema, {
      ctype: "image/gif",
    }),
    M.bytes(202, operations.StreamVideoResponse$inboundSchema, {
      ctype: "image/gif",
    }),
    M.bytes(202, operations.StreamVideoResponse$inboundSchema, {
      ctype: "video/mp4",
    }),
    M.bytes(202, operations.StreamVideoResponse$inboundSchema, {
      ctype: "video/webm",
    }),
    M.fail([404, "4XX"]),
    M.fail([500, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
